@tailwind base;
@tailwind components;
@tailwind utilities;


/* MAIN CSS = DESIGN DU SITE */

/* remise à zéro des attributs des pages */
*,
::after,
::before {
  margin:0 ;
  padding: 0 ;
  box-sizing: border-box;
}

/* couleur de la page */
body {
 
    background: theme('colors.main.DEFAULT') !important;  /* important = force la couleur sélectionnée */
  }