@tailwind base;
@tailwind components;
@tailwind utilities;


/* MAIN CSS = DESIGN DU SITE */

/* remise à zéro des attributs des pages */
*,
::after,
::before {
  margin:0 ;
  padding: 0 ;
  box-sizing: border-box;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: theme('colors.transparent');
  border-radius: 10px;
  border: 1px solid theme('colors.light_grey');
}

/* couleur de la page */
body, html {
  height: 100%;
  @apply bg-gradient-to-b from-gray-200 via-gray-400 to-gray-600;
}

@keyframes float-vertical {
  0% {
    
    transform: translateY(0px);
  }
  50% {
    
    transform: translateY(-15px);
  }
  100% {
    
    transform: translateY(0px);
  }
}

.animate-float-vertical {
  animation: float-vertical 5s ease-in-out infinite;
}

