@tailwind base;
@tailwind components;
@tailwind utilities;


/* MAIN CSS = DESIGN DU SITE */

/* remise à zéro des attributs des pages */
*,
::after,
::before {
  margin:0 ;
  padding: 0 ;
  box-sizing: border-box;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: theme('colors.transparent');
  border-radius: 10px;
  border: 1px solid theme('colors.gris');
}

/* couleur de la page */
body {
 
    background: theme('colors.main.DEFAULT') !important;  /* important = force la couleur sélectionnée */
  }